.App {
  flex: auto;
  text-align: center;
}

.tareas {
  margin-top: 30px;
  list-style-type: none;
  padding: 0;
}

#input {
  color: black;
  font-size: 25px;
  padding: 14px;
  width: 300px;
  background-color: white;
}

.button{
  color: #242424;
  background-color:white;
  font-size: 25px;
  text-size-adjust: auto;
  padding: 15px 50px;
}

#align{
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: auto;
}

.img{
  width: 50px;
  height: 50px;
}

.checkbox{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.completed {
  display: flex;
  text-decoration: line-through;
  color:#242424;
  background-color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 3px;
  margin: 20px auto;
  padding: 5px ;
  width: 26%;
}

.div{
  display: flex;
  text-align: center;
}

.item {
  display: flex;
  color:#242424;
  background-color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  align-items: center;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 3px;
  margin: 20px auto;
  padding: 5px ;
  width: 26%;
}